# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
documentation/circuit-design-v01.png
documentation/circuit-design-v02.png
/codegentemp
/CortexM3
/Generated_Source
/Export
BUILD.log
KartonBalance_timing.rpt
KartonBalance_timing.cycdx
KartonBalance_timing.cyfit
KartonBalance_timing.svd
KartonBalance_timing.html
REBUILD.log